body{
    background-color: #13293D;
    text-align: center;
}



.topnav{
    background-color: #40434E;
}
.topnav ul{
    padding-right: 40px;
    text-align: center;
    margin-top: 10px;
}
.topnav li{
    list-style: none;
    display: inline;
}
.topnav a{
    background-color: #13293D;
    color: #0EB1D2;
    padding: 5px 5px;
    text-decoration: none;
}
.topnav a:hover{
    background-color: #0EB1D2;
    color: #13293D;
}



.main img{
    border: 5px solid #0EB1D2;
    margin-top: 20px;
    text-align: center;
}
.main p{
    color: #0EB1D2;
    font-size: 17px;
    padding-top: 15px;
}
@media (min-width: 768px){
    .main p{
        font-size: 18px;
    }
}
@media (min-width: 768px){
    .main p{
        font-size: 24px;
    }
}
.ralative p{
    background-color: #40434E;
    color: #0EB1D2;
    font-size: 36px;
    padding: 10px 58px 10px 57px;
    position: absolute;
    bottom: -6px;
    left: 20px;
}
@media (min-width: 425px) {
    .ralative p{
        padding: 10px 69px 10px 97px;
        bottom: -5px;
        left: 20px;
    }
}
@media (min-width: 768px) {
    .ralative p{
        font-size: 22px;
        padding: 10px 38px 10px 38px;
        bottom: -6px;
        left: 20px;
    }
}
@media (min-width: 1024px) {
    .ralative p{
        font-size: 24px;
        padding: 10px 71px 10px 66px;
        bottom: -6px;
        left: 20px;
    }
}
@media (min-width: 1440px) {
    .ralative p{
        font-size: 26px;
        padding: 10px 95px 10px 98px;
        bottom: -6px;
        left: 19px;
    }
}



.main2 h2{
    background-color: #40434E;
    color: #0EB1D2;
    padding: 10px 5px;
    margin-bottom: 20px;
    text-align: center;
}
.main2 p{
color: #0EB1D2;
font-size: 24px;
}



.main3 img{
    padding-top: 10px;
}
.main3 h2{
    background-color: #40434E;
    color: #0EB1D2;
    padding: 10px 5px;
    margin-bottom: 20px;
    text-align: center;
}
.main3 a{
    background-color: #40434E;
    color: #0EB1D2;
    font-size: 30px;
    padding: 0px 20px 0px 20px;
    border-radius: 20px;
    text-decoration: none;
}
@media (min-width: 425px) {
    .main3 a{
        padding: 2px 40px 2px 40px;
    }
}
.main3 a:hover{
    background-color: #0EB1D2;
    color: #40434E;
}



.footer h2{
    background-color: #40434E;
    color: #0EB1D2;
    padding: 10px 5px;
    text-align: center;
}
.footer ul{
    padding-right: 40px;
    text-align: center;
}
.footer li{
    list-style: none;
    display: inline;
}
.footer a{
    color: #0EB1D2;
    font-size: 37px;
}
.foota p{
    color: #0EB1D2;
    font-size: 20px;
    text-align: center;
}